body{background-color: black;
}

.face1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face2{
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
